/*---------------
Zerando as configurações do CSS
--------------- */

* {
padding:0;
margin:0;
vertical-align:baseline;
list-style:none;

}

/*---------------
Configurações do CARD de informação
--------------- */
