#img-bg{
  background-image: url('../../assets/img-cadastrar.svg');


  min-height: 640px;
  max-height: 641px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn{
  margin-right: 15px;
}
