<footer class="page-footer font-small"  id="cor">
  <div class="container-fluid">
    <div class="row  ">
      <div class="col-md-12 border-bottom">
        <h1 class="text-white">Do Zero Hub do empreendedorismo digital</h1>
     <li>
      <h4 class="text-white">Vamos inventar algo para por aqui</h4>
     </li>
      </div>

      <div class="row">
        <div class="col-md-12">
          <ul class="social-network">
            <li>
              <a href="https://github.com/DozeroHub" target="_blank" class="icoGitHub me-4 text-reset"><i
                  class="fa fa-github-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<div class="footer-copyright text-center py-3" id="cor">
  <span class = "text-light"> &copy; 2021 Copyright: </span>
  <a class="text-light" target="_blank" href="https://github.com/DozeroHub"> DozeroHub</a>

</div>

</footer>
