<footer class="page-footer font-small "  id="cor">
  <div class="container">
    <div class="row justify-content-lg-between p-4 border-bottom">
      <div class="col-md-12 ">
        <h1 class="text-white ">Do Zero Hub do empreendedorismo digital</h1>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="social-network">
            <li>
              <a href="https://github.com/DozeroHub" target="_blank" class="icoGitHub"><i
                  class="fa fa-github-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<div class="footer-copyright text-center py-3" id="cor">
  <span class = "text-light"> &copy; 2021 Copyright: </span>
  <a class="text-light" target="_blank" href="https://github.com/DozeroHub"> DozeroHub</a>

</div>

</footer>
